
.collapse,
.navbar-collapse {
  width: 100%;
}

.navbar a {
  color: black !important;
  font-weight: 600;
}

.navbar h1 {
  font-size: 1.4rem;
  color: white;
  font-weight: 280;
}
nav .dropdown-menu {
  background-color: #a48ef5 ;
}
.dropdown-item {
  color: rgb(37, 36, 36);
}

.logo {
  width: 50px;
}

.navbar {
  height: 5rem;
  background: rgb(134, 134, 134) !important
}
