.navbar {
  background: rgba(250, 172, 168, 0);
}

.collapse,
.navbar-collapse {
  width: 100%;
}

/* this will style the links */
.navbar a {
  color: black !important;
  font-weight: 600;
}

/* this will style the header */
.navbar h1 {
  font-size: 1.4rem;
  color: black;
  font-weight: 280;
}
nav .dropdown-menu {
  background-color: #a48ef5;
}
.dropdown-item {
  color: rgb(37, 36, 36);
}

.logo {
  width: 50px;
}

nav {
  height: 5rem;

}
