* {
  box-sizing: border-box;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  /* font-family: Copperplate, "Copperplate Gothic Light"; */
  font-weight: Bold;
  /* font: 15px courier, sans-serif; */
  /* font: italic bold 12px/30px Georgia, serif; */
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  background-size: 100% 100%;
}

img {
  border-radius: 5%;
}
